body {
    background-image: url("./images/potluck.jpg");
    background-size: cover;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.potlukk-popup{
    display: flex;
}
#potlukk-home{
    background: rgba(230, 240, 255, .85);
    border-radius: 10px;
    border: 3px solid rgba(159, 5, 48, .9);
    height: 100%;
    width: 70vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}
#edit-potlukk-popup, #attend-potlukk-popup{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#edit-potlukk-popup {
    width: 250%;
}
#attend-potlukk-popup{
    width: 150%;
}
#potlukk-view-table{
    table-layout: fixed;
    width: 100%;
}
#action-row {
    display: flex;
    justify-content: center;
    width: 300%;
}
#create-new-potlukk-btn{
    opacity: .7;
}
p{
    margin: 0;
}
#time{
    font-size: 1.25rem;
}
#date {
    font-size: 1.5rem;
}
.action-btn {
    font-size: large;
}